*{
    padding: 0;
    margin: 0;
}
#form{
    padding-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: capitalize;
}
input{
    height: 30px;
    
}
#submit:hover{
    cursor: pointer;
    
}
